.WaveContainer {
    position: fixed;
    bottom: 0; /* Adjusted by JS */
    left: 0;
    width: 100%;
    height: 160px;
    z-index: 0;
    overflow: hidden;
}

.WaveContainer svg {
    width: 200%; /* Double width to ensure continuous coverage */
    height: 100%;
    display: block;
}

@media (max-width: 600px) {
    .WaveContainer {
        height: 150px;
    }
}